.howToBuy {
  padding-top: 146px;

  &-title {
    margin-left: 138px;

    img {
      transition: filter, opacity, transform;
      transition-duration: 1.5s;
      transition-delay: .2s;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  *:not(.anim-done) { animation-fill-mode: both !important; }
}

.howToBuy:not(.show) {
  * { animation-play-state: paused !important; }

  .howToBuy-title img {
    opacity: 0;
    transform: scale(1.2);
    filter: blur(20px);
  }
}

@media (max-width: 992px) {

  .howToBuy{
    padding-top: 100px;
  }

  .howToBuy-title{
    margin-left: 0;
  }
  .howToBuy-title img{
    display: block;
    max-width: 409px;
  }
}

@media (max-width: 650px) {

  .howToBuy{
    padding-top: 80px;
  }
  .howToBuy-title img{
    max-width: 307px;
  }
}


@media (max-width: 410px) {

  .howToBuy{
    padding-top: 40px;
  }
  .howToBuy-title img{
    max-width: 280px;
  }
}

