.button {
  //background: rgba(0, 0, 0, 1);
  //backdrop-filter: blur(7.5px);
  border-radius: 1000px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 18px 18px 18px 42px;
  position: relative;
  bottom: 0;

  > * {
    position: relative;
    z-index: 2;
  }

  //animation-duration: 1.5s;
  //animation-name: slideTitleUp;

  @keyframes slideTitleUp {
    from {
      transform: translateY(-83px);
      //opacity: 0;
    }

    to {
      transform: translateY(0);
      //opacity: 1;
    }
  }

  &-text {
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 18px;
  }
  &-wrapIcon {
    width: 44px;
    height: 44px;
    border: 1px solid #FF3BC8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      margin-top: 2px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -1px;
    z-index: 0;
    height: 100%;
    padding: 1px;
    width: 100%;
    border-radius: 1000px;
    background: linear-gradient(to right, #98989C, transparent);

    animation-duration: 3.5s;
    animation-name: backgroundAnim;

    @keyframes backgroundAnim {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 1000px;
    z-index: 1;
  }
}

.stepFirst {
  max-width: 340px;
}

.joinUsBtn {
  position: absolute;
  top: 0;
  left: calc(100% - 233px);
  animation: joinUsBtnAnim 1s ease-in-out;
}
@keyframes joinUsBtnAnim {
  0% {left: 0; }
  100% {left: calc(100% - 233px); }
}
//*new updates start

@media (max-width: 760px) {

  .button {
    padding: 16px 16px 16px 28px;
  }
  .button-text{
    font-size: 18px;
    margin-right: 16px;
  }

  .button-wrapIcon{
    width: 40px;
    height: 40px;
  }

  .button-wrapIcon img {
      width: 18px;
  }
}

@media (max-width: 650px) {
  .button {
    padding: 14px 4px 14px 16px;
  }

  .button-text{
    font-size: 14px;
    line-height: 16px;
    margin-right: 8px;
  }

  .button-wrapIcon{
    width: 24px;
    height: 24px;
  }

  .button-wrapIcon img {
    width: 10px;
  }
}

@media (max-width: 410px) {
  .button {
    padding: 7px 2px 7px 10px;
  }
  .button-text{
    font-size: 12px;
  }
}
//*new updates end