.chainMain {
    padding-top: 100px;
    gap: 48px;

    &-text {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img{

            margin-right: 32px;
            display: block;
            max-width: 100%;
        }
    }

    &-video {
        margin-top: 88px;
        border-radius: 16px;
        overflow: hidden;
        isolation: isolate;
        border: 1px solid #98989C;

        &-item{
            display: block;
            // max-height: 780px;
            object-fit: cover;
            aspect-ratio: 1536/1050;
        }
    }


    .chainMain-text img {
        transition: transform, opacity, filter;
        transition-duration: 1.5s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .chainMain-video {
        transition: transform, opacity;
        transition-duration: 0.7s;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:not(.show) {
        .chainMain-text img {
            filter: blur(20px);
            opacity: 0;
            transform: scale(1.2);
        }

        .chainMain-video {
            opacity: 0;
            transform: translateY(40px);
        }
    }
}


@media (max-width: 992px) {
    .chainMain-text {
        max-width: 345px;
        margin-right: 0;
        margin-left: auto;

        img{
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .chainMain-video-item {
        aspect-ratio: 1;
    }
}

@media (max-width: 576px) {
    .chainMain-text {
        max-width: 256px;
    }
}
